teht0/build/
teht0.pro.user

Tehtava1/build/
Tehtava1.pro.user

Tehtava2/build/
Tehtava2.pro.user

Tehtava3/build/
Tehtava3.pro.user

Tehtava4/build/
Tehtava4.pro.user

Tehtava5/build/
Tehtava5.pro.user

Tehtava6/build/
Tehtava6.pro.user

Tehtava7/build/
Tehtava7.pro.user